* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

.quiz {
  box-shadow: 0px 0px 10px 1px;
  margin: 5rem auto;
  width: 450px;
  overflow: hidden;
  border-radius: 0.7rem;
  
 
}
.score-card{
    
    margin: 2rem auto;
    width: 450px;
    text-align: center;
}

ul{
    margin: 2rem;
    font-size: large;
    
}

ul li {
    cursor: pointer;
    padding: 0.5rem;
}
#question{
    color: red;
}

#btn{
    width: 100%;
    padding: 1.5rem;
    font-weight: 700;
    background-color: purple;
    color: whitesmoke;
    border: none;
    cursor: pointer;
}
